# 03_modeling

Panel regressions linking **poverty**, **median household income**, and **unemployment** using a state-year panel.

**Inputs:** `data/processed/state_year_panel.parquet` (built in `01_build_state_year_panel.ipynb`)

In [1]:
from pathlib import Path
import pandas as pd

# =====================================================
# Block 1: Locate repo + load processed panel
# =====================================================

START = Path.cwd().resolve()

def find_repo(start: Path) -> Path:
    """
    Find repo root by searching for data/raw containing required inputs.
    Works even when the Jupyter kernel starts outside the repo (e.g., C:\\projects).
    """
    roots = [start]
    if start.drive:  # Windows: also try common dev root
        roots.append(Path(start.drive + "\\") / "projects")

    required_raw_files = [
        "saipe_state_year.parquet",
        "laus_allstates_u.txt",
        "la.area.txt",
        "la.series.txt",
    ]

    seen = set()
    for root in roots:
        root = root.resolve()
        if root in seen or not root.exists():
            continue
        seen.add(root)

        for raw_dir in root.rglob("data/raw"):
            if all((raw_dir / f).exists() for f in required_raw_files):
                return raw_dir.parent.parent  # .../data/raw -> repo root

    raise RuntimeError(
        f"Could not find repo root from start={start}. "
        f"Expected to find data/raw containing: {required_raw_files}"
    )

REPO = find_repo(START)
PROCESSED = REPO / "data" / "processed"
PANEL_PATH = PROCESSED / "state_year_panel.parquet"

print("Auto-found REPO:", REPO)
print("Looking for:", PANEL_PATH)
print("Processed files:", [p.name for p in PROCESSED.glob("*")])

assert PANEL_PATH.exists(), f"Missing processed panel: {PANEL_PATH}"

panel = pd.read_parquet(PANEL_PATH)
print("Loaded panel:", panel.shape)
display(panel.head())

Auto-found REPO: C:\projects\python-policy-project
Looking for: C:\projects\python-policy-project\data\processed\state_year_panel.parquet
Processed files: ['.gitkeep', 'laus_state_year_unemployment_rate.parquet', 'saipe_state_year_clean.parquet', 'state_year_panel.csv', 'state_year_panel.parquet', 'state_year_panel_model_ready.parquet']
Loaded panel: (1581, 7)

,state,state_name,state_fips,year,poverty_rate,median_income,unemployment_rate
0,AK,Alaska,02,1989,10.6,33885,7.1
1,AK,Alaska,02,1993,11.2,39431,7.8
2,AK,Alaska,02,1995,10.1,42255,7.3
3,AK,Alaska,02,1996,10.6,44797,7.5
4,AK,Alaska,02,1997,11.2,43657,7.0

In [2]:
import numpy as np

# =====================================================
# Block 2: Define modeling sample
# =====================================================

df = panel.loc[
    panel["year"] >= 1995,
    ["state", "year", "poverty_rate", "median_income", "unemployment_rate"]
].dropna().copy()

# Log income for percent-change interpretation
df["log_income"] = np.log(df["median_income"].astype(float))

# Patsy/statsmodels compatibility: avoid pandas nullable Int64 dtype
df["year"] = df["year"].astype(int)

print("Modeling df shape:", df.shape)
print("Years:", int(df['year'].min()), "-", int(df['year'].max()))
print("States per year (tail):")
print(df.groupby("year")["state"].nunique().tail())

display(df.head())

Modeling df shape: (1479, 6)
Years: 1995 - 2023
States per year (tail):
year
2019    51
2020    51
2021    51
2022    51
2023    51
Name: state, dtype: int64

  state  year  poverty_rate  median_income  unemployment_rate  log_income
2    AK  1995          10.1          42255                7.3   10.651478
3    AK  1996          10.6          44797                7.5   10.709896
4    AK  1997          11.2          43657                7.0   10.684119
5    AK  1998          10.8          47177                6.3   10.761662
6    AK  1999           8.8          49133                6.4   10.802286

In [3]:
# =====================================================
# Block 3: Modeling backend
# =====================================================

import statsmodels.formula.api as smf

In [4]:
# =====================================================
# Block 4: Pooled OLS models (intuition)
# =====================================================

# Poverty ~ Unemployment
m1 = smf.ols("poverty_rate ~ unemployment_rate", data=df).fit(cov_type="HC1")

# Poverty ~ Income (levels)
m2 = smf.ols("poverty_rate ~ median_income", data=df).fit(cov_type="HC1")

# Poverty ~ Unemployment + Income (levels)
m3 = smf.ols("poverty_rate ~ unemployment_rate + median_income", data=df).fit(cov_type="HC1")

print(m1.summary())
print(m2.summary())
print(m3.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:           poverty_rate   R-squared:                       0.200
Model:                            OLS   Adj. R-squared:                  0.200
Method:                 Least Squares   F-statistic:                     326.1
Date:                Sun, 04 Jan 2026   Prob (F-statistic):           5.13e-66
Time:                        01:30:33   Log-Likelihood:                -3663.6
No. Observations:                1479   AIC:                             7331.
Df Residuals:                    1477   BIC:                             7342.
Df Model:                           1
Covariance Type:                  HC1
=====================================================================================
                        coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------------
Intercept             9.0722      0.210     43.281      0.000       8.661       9.483
unemployment_rate     0.7472      0.041     18.057      0.000       0.666       0.828
==============================================================================
Omnibus:                       36.910   Durbin-Watson:                   0.213
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               34.941
Skew:                           0.334   Prob(JB):                     2.59e-08
Kurtosis:                       2.652   Cond. No.                         16.7
==============================================================================

Notes:
[1] Standard Errors are heteroscedasticity robust (HC1)
                            OLS Regression Results
==============================================================================
Dep. Variable:           poverty_rate   R-squared:                       0.141
Model:                            OLS   Adj. R-squared:                  0.140
Method:                 Least Squares   F-statistic:                     300.9
Date:                Sun, 04 Jan 2026   Prob (F-statistic):           1.67e-61
Time:                        01:30:33   Log-Likelihood:                -3716.4
No. Observations:                1479   AIC:                             7437.
Df Residuals:                    1477   BIC:                             7447.
Df Model:                           1
Covariance Type:                  HC1
=================================================================================
                    coef    std err          z      P>|z|      [0.025      0.975]
---------------------------------------------------------------------------------
Intercept        17.3757      0.289     60.193      0.000      16.810      17.942
median_income -8.499e-05    4.9e-06    -17.348      0.000   -9.46e-05   -7.54e-05
==============================================================================
Omnibus:                       27.726   Durbin-Watson:                   0.139
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               25.424
Skew:                           0.273   Prob(JB):                     3.02e-06
Kurtosis:                       2.662   Cond. No.                     2.01e+05
==============================================================================

Notes:
[1] Standard Errors are heteroscedasticity robust (HC1)
[2] The condition number is large, 2.01e+05. This might indicate that there are
strong multicollinearity or other numerical problems.
                            OLS Regression Results
==============================================================================
Dep. Variable:           poverty_rate   R-squared:                       0.307
Model:                            OLS   Adj. R-squared:                  0.306
Method:                 Least Squares   F-statistic:                     387.6
Date:                Sun, 04 Jan 2026   Prob (F-statistic):          4.95e-136
Time:                        01:30:33   Log-Likelihood:                -3557.3
No. Observations:                1479   AIC:                             7121.
Df Residuals:                    1476   BIC:                             7136.
Df Model:                           2
Covariance Type:                  HC1
=====================================================================================
                        coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------------
Intercept            13.2375      0.355     37.294      0.000      12.542      13.933
unemployment_rate     0.6854      0.037     18.577      0.000       0.613       0.758
median_income     -7.454e-05   4.73e-06    -15.775      0.000   -8.38e-05   -6.53e-05
==============================================================================
Omnibus:                       42.459   Durbin-Watson:                   0.279
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               30.659
Skew:                           0.248   Prob(JB):                     2.20e-07
Kurtosis:                       2.499   Cond. No.                     2.63e+05
==============================================================================

Notes:
[1] Standard Errors are heteroscedasticity robust (HC1)
[2] The condition number is large, 2.63e+05. This might indicate that there are
strong multicollinearity or other numerical problems.

In [5]:
# =====================================================
# Block 5: Pooled OLS with log income (cleaner interpretation)
# =====================================================

m4 = smf.ols("poverty_rate ~ unemployment_rate + log_income", data=df).fit(cov_type="HC1")
print(m4.summary())

# --- NOTE ---
# Interpreting log_income:
# A 10% increase in income is approximately associated with:
#   0.10 * coef(log_income) percentage-point change in poverty_rate.

                            OLS Regression Results
==============================================================================
Dep. Variable:           poverty_rate   R-squared:                       0.318
Model:                            OLS   Adj. R-squared:                  0.317
Method:                 Least Squares   F-statistic:                     416.9
Date:                Sun, 04 Jan 2026   Prob (F-statistic):          2.91e-144
Time:                        01:30:33   Log-Likelihood:                -3545.9
No. Observations:                1479   AIC:                             7098.
Df Residuals:                    1476   BIC:                             7114.
Df Model:                           2
Covariance Type:                  HC1
=====================================================================================
                        coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------------
Intercept            54.2528      2.670     20.316      0.000      49.019      59.487
unemployment_rate     0.6934      0.036     19.011      0.000       0.622       0.765
log_income           -4.1520      0.242    -17.178      0.000      -4.626      -3.678
==============================================================================
Omnibus:                       40.046   Durbin-Watson:                   0.287
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               30.253
Skew:                           0.256   Prob(JB):                     2.70e-07
Kurtosis:                       2.522   Cond. No.                         498.
==============================================================================

Notes:
[1] Standard Errors are heteroscedasticity robust (HC1)

In [6]:
# =====================================================
# Block 6: Two-way fixed effects (state + year), clustered SEs
# =====================================================

m_twfe = smf.ols(
    "poverty_rate ~ unemployment_rate + log_income + C(state) + C(year)",
    data=df
).fit(
    cov_type="cluster",
    cov_kwds={"groups": df["state"]}
)

print(m_twfe.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:           poverty_rate   R-squared:                       0.974
Model:                            OLS   Adj. R-squared:                  0.972
Method:                 Least Squares   F-statistic:                     796.3
Date:                Sun, 04 Jan 2026   Prob (F-statistic):           1.46e-57
Time:                        01:30:33   Log-Likelihood:                -1130.9
No. Observations:                1479   AIC:                             2424.
Df Residuals:                    1398   BIC:                             2853.
Df Model:                          80
Covariance Type:              cluster
=====================================================================================
                        coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------------
Intercept           146.8278     12.794     11.477      0.000     121.753     171.903
C(state)[T.AL]        1.4258      0.518      2.750      0.006       0.410       2.442
C(state)[T.AR]        1.0350      0.601      1.723      0.085      -0.142       2.212
C(state)[T.AZ]        1.7784      0.323      5.502      0.000       1.145       2.412
C(state)[T.CA]        2.8951      0.081     35.841      0.000       2.737       3.053
C(state)[T.CO]       -0.1442      0.148     -0.977      0.328      -0.433       0.145
C(state)[T.CT]       -0.2226      0.035     -6.340      0.000      -0.291      -0.154
C(state)[T.DC]        6.2755      0.085     74.207      0.000       6.110       6.441
C(state)[T.DE]       -0.3100      0.172     -1.807      0.071      -0.646       0.026
C(state)[T.FL]       -0.0552      0.399     -0.138      0.890      -0.837       0.727
C(state)[T.GA]        1.8803      0.327      5.744      0.000       1.239       2.522
C(state)[T.HI]        0.5984      0.070      8.605      0.000       0.462       0.735
C(state)[T.IA]       -1.9104      0.353     -5.408      0.000      -2.603      -1.218
C(state)[T.ID]       -1.0080      0.400     -2.518      0.012      -1.793      -0.223
C(state)[T.IL]        0.2920      0.175      1.670      0.095      -0.051       0.635
C(state)[T.IN]       -1.1292      0.354     -3.186      0.001      -1.824      -0.434
C(state)[T.KS]       -1.2804      0.347     -3.689      0.000      -1.961      -0.600
C(state)[T.KY]        1.4941      0.504      2.964      0.003       0.506       2.482
C(state)[T.LA]        3.4195      0.538      6.357      0.000       2.365       4.474
C(state)[T.MA]        0.5218      0.048     10.920      0.000       0.428       0.615
C(state)[T.MD]        0.3024      0.060      5.018      0.000       0.184       0.420
C(state)[T.ME]       -1.7913      0.396     -4.529      0.000      -2.566      -1.016
C(state)[T.MI]        0.1529      0.295      0.518      0.604      -0.425       0.731
C(state)[T.MN]       -1.2769      0.157     -8.143      0.000      -1.584      -0.970
C(state)[T.MO]       -0.5400      0.397     -1.359      0.174      -1.319       0.239
C(state)[T.MS]        3.3127      0.627      5.283      0.000       2.084       4.542
C(state)[T.MT]       -0.4540      0.487     -0.931      0.352      -1.409       0.501
C(state)[T.NC]        0.2844      0.399      0.713      0.476      -0.498       1.067
C(state)[T.ND]       -1.3830      0.393     -3.518      0.000      -2.153      -0.613
C(state)[T.NE]       -1.6494      0.366     -4.506      0.000      -2.367      -0.932
C(state)[T.NH]       -2.1265      0.103    -20.554      0.000      -2.329      -1.924
C(state)[T.NJ]        0.1987      0.061      3.245      0.001       0.079       0.319
C(state)[T.NM]        3.2399      0.511      6.336      0.000       2.238       4.242
C(state)[T.NV]       -0.4815      0.236     -2.041      0.041      -0.944      -0.019
C(state)[T.NY]        2.4644      0.203     12.115      0.000       2.066       2.863
C(state)[T.OH]       -0.5201      0.350     -1.487      0.137      -1.206       0.166
C(state)[T.OK]        1.0311      0.524      1.967      0.049       0.004       2.059
C(state)[T.OR]        0.1124      0.282      0.399      0.690      -0.440       0.665
C(state)[T.PA]       -1.0219      0.292     -3.495      0.000      -1.595      -0.449
C(state)[T.RI]       -0.1201      0.211     -0.570      0.569      -0.533       0.293
C(state)[T.SC]        0.7659      0.443      1.730      0.084      -0.102       1.633
C(state)[T.SD]       -0.3421      0.443     -0.772      0.440      -1.211       0.527
C(state)[T.TN]        0.4344      0.462      0.941      0.347      -0.471       1.339
C(state)[T.TX]        2.7897      0.327      8.523      0.000       2.148       3.431
C(state)[T.UT]       -0.7338      0.192     -3.831      0.000      -1.109      -0.358
C(state)[T.VA]        0.1432      0.138      1.038      0.299      -0.127       0.413
C(state)[T.VT]       -1.8175      0.319     -5.691      0.000      -2.443      -1.192
C(state)[T.WA]        0.0830      0.118      0.703      0.482      -0.148       0.314
C(state)[T.WI]       -1.5484      0.272     -5.684      0.000      -2.082      -1.014
C(state)[T.WV]        0.7060      0.621      1.137      0.255      -0.511       1.923
C(state)[T.WY]       -1.6308      0.302     -5.406      0.000      -2.222      -1.039
C(year)[T.1996]       0.3897      0.087      4.501      0.000       0.220       0.559
C(year)[T.1997]       0.7123      0.182      3.908      0.000       0.355       1.070
C(year)[T.1998]       1.0720      0.250      4.288      0.000       0.582       1.562
C(year)[T.1999]       0.9217      0.264      3.489      0.000       0.404       1.440
C(year)[T.2000]       0.9278      0.305      3.039      0.002       0.329       1.526
C(year)[T.2001]       1.3098      0.294      4.460      0.000       0.734       1.885
C(year)[T.2002]       1.4616      0.333      4.390      0.000       0.809       2.114
C(year)[T.2003]       1.9323      0.371      5.209      0.000       1.205       2.659
C(year)[T.2004]       2.7156      0.379      7.168      0.000       1.973       3.458
C(year)[T.2005]       3.9133      0.404      9.695      0.000       3.122       4.704
C(year)[T.2006]       4.6381      0.441     10.528      0.000       3.775       5.502
C(year)[T.2007]       4.9554      0.500      9.907      0.000       3.975       5.936
C(year)[T.2008]       5.2572      0.564      9.327      0.000       4.152       6.362
C(year)[T.2009]       4.9410      0.579      8.528      0.000       3.805       6.077
C(year)[T.2010]       5.6598      0.561     10.090      0.000       4.560       6.759
C(year)[T.2011]       6.5662      0.578     11.364      0.000       5.434       7.699
C(year)[T.2012]       7.0324      0.582     12.080      0.000       5.891       8.173
C(year)[T.2013]       7.4083      0.596     12.430      0.000       6.240       8.576
C(year)[T.2014]       7.7496      0.614     12.623      0.000       6.546       8.953
C(year)[T.2015]       7.7377      0.636     12.163      0.000       6.491       8.985
C(year)[T.2016]       7.6283      0.649     11.751      0.000       6.356       8.901
C(year)[T.2017]       7.7332      0.697     11.101      0.000       6.368       9.099
C(year)[T.2018]       7.9993      0.727     11.004      0.000       6.574       9.424
C(year)[T.2019]       8.0802      0.798     10.127      0.000       6.516       9.644
C(year)[T.2020]       6.7940      0.869      7.821      0.000       5.091       8.497
C(year)[T.2021]       8.8520      0.859     10.304      0.000       7.168      10.536
C(year)[T.2022]       9.9953      0.945     10.573      0.000       8.142      11.848
C(year)[T.2023]      10.3841      0.979     10.610      0.000       8.466      12.302
unemployment_rate     0.2934      0.030      9.727      0.000       0.234       0.352
log_income          -13.0060      1.193    -10.906      0.000     -15.343     -10.669
==============================================================================
Omnibus:                       34.905   Durbin-Watson:                   1.037
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               76.024
Skew:                          -0.000   Prob(JB):                     3.10e-17
Kurtosis:                       4.111   Cond. No.                     3.49e+03
==============================================================================

Notes:
[1] Standard Errors are robust to cluster correlation (cluster)
[2] The condition number is large, 3.49e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

c:\projects\python-policy-project\.venv\Lib\site-packages\statsmodels\base\model.py:1894: ValueWarning: covariance of constraints does not have full rank. The number of constraints is 80, but rank is 30
  warnings.warn('covariance of constraints does not have full '

In [7]:
# =====================================================
# Block 7: Key coefficients (README-ready)
# =====================================================

coef_table = (
    m_twfe.params.loc[["unemployment_rate", "log_income"]].to_frame("coef")
    .join(m_twfe.bse.loc[["unemployment_rate", "log_income"]].rename("se"))
    .join(m_twfe.pvalues.loc[["unemployment_rate", "log_income"]].rename("pvalue"))
)

display(coef_table)

                        coef        se        pvalue
unemployment_rate   0.293379  0.030162  2.318493e-22
log_income        -13.006020  1.192571  1.080608e-27

In [8]:
# =====================================================
# Block 8: Simple model comparison table
# =====================================================

models = {
    "OLS: Unemp only": m1,
    "OLS: Income only": m2,
    "OLS: Both (levels)": m3,
    "OLS: Log income": m4,
    "TWFE (state+year, clustered)": m_twfe,
}

summary = pd.DataFrame({
    name: {
        "R²": round(mod.rsquared, 3),
        "Adj. R²": round(mod.rsquared_adj, 3),
        "N": int(mod.nobs),
    }
    for name, mod in models.items()
})

display(summary.T)

                                 R²  Adj. R²       N
OLS: Unemp only               0.200    0.200  1479.0
OLS: Income only              0.141    0.140  1479.0
OLS: Both (levels)            0.307    0.306  1479.0
OLS: Log income               0.318    0.317  1479.0
TWFE (state+year, clustered)  0.974    0.972  1479.0

## Notes / Interpretation

Pooled OLS conflates cross-state structural differences with within-state changes over time; fixed effects models isolate within-state dynamics by differencing out time-invariant state characteristics.

Median household income is strongly and robustly negatively associated with poverty. Unemployment is positively associated with poverty, but its magnitude is substantially reduced once income is controlled for.

State fixed effects absorb persistent structural differences across states (e.g., institutions, demographics, baseline policy environments), while year fixed effects capture national shocks such as recessions and COVID-era transfer programs.

Preferred specification: **state + year fixed effects with state-clustered standard errors**.

In [9]:
# =====================================================
# Block 9: Save model-ready dataset
# =====================================================

MODEL_PATH = PROCESSED / "state_year_panel_model_ready.parquet"
df.to_parquet(MODEL_PATH, index=False)
print("Saved:", MODEL_PATH)

Saved: C:\projects\python-policy-project\data\processed\state_year_panel_model_ready.parquet